In [78]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('Dataset.csv')

df = df.drop(['Unnamed: 0', 'BMI_tags', 'Label', 'BMR', 'activity_level'], axis='columns')

X = df.drop('calories_to_maintain_weight', axis='columns')
Y = df['calories_to_maintain_weight']

le_gender = LabelEncoder()
X['sex'] = le_gender.fit_transform(X['gender'])
X = X.drop('gender', axis='columns')

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

regression_model = LinearRegression()

regression_model.fit(X_train, Y_train)

regression_model.predict([[4,14.619374,0.916687,17.397496,0]])

#mse = mean_squared_error(Y_test, Y_pred)
#print("Mean Squared Error:", mse)

D:\anachonda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1439.14768179])

In [79]:
X

       age  weight(kg)  height(m)        BMI  sex
0        2   16.097862   0.932025  18.531612    0
1        4   14.619374   0.916687  17.397496    0
2        4   17.899918   0.997288  17.997414    0
3        3   13.532880   1.022786  12.936609    0
4        4   17.039484   1.053977  15.338909    1
...    ...         ...        ...        ...  ...
10721   72   95.444236   1.631113  35.874169    0
10722   85   97.976899   1.631409  36.812724    0
10723   50   97.761259   1.631864  36.711217    0
10724   57   96.829324   1.631290  36.386871    0
10725   63   97.615186   1.633168  36.597850    1

[10726 rows x 5 columns]